body {
    font-family: 'arial', sans-serif;
    background-color: rgb(244, 156, 106);
    color: rgb(0, 0, 0);
}

header {
    padding: 40px;
    background-color: #983c3c;
    color: #e2c9c1;
    text-align: center;
    margin: 4.5em;
}

header h1 {
    font-size: 100px;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}