body {
    font-family: 'arial', sans-serif;
    background-color: rgb(240, 177, 140);
    color: rgb(0, 0, 0);
}

header {
    padding: 109px;
    background-color: #cb543f;
    color: #8d290a;
    text-align: center;
    margin: 4.5em;
}

header h1 {
    font-size: 100px;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}