/* Fondo con los colores de la bandera mexicana */
body {
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
    background: linear-gradient(to right, #006341, #ffffff, #ce1126);
    text-align: left;
    color: #222;
}
