body {
    font-family: 'arial', sans-serif;
    background-color: rgb(131, 221, 131);
    color: rgb(0, 0, 0);
}

header {
    padding: 40px;
    background-color: #dbf8ab;
    color: #064125;
    text-align: center;
    margin: 4.5em;
}

header h1 {
    font-size: 100px;
}


i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}