body {
    font-family: 'arial', sans-serif;
    background-color: rgb(179, 92, 245);
    color: rgb(0, 0, 0);
}

header {
    padding: 130px;
    background-color: #88229a;
    color: #410758;
    text-align: center;
}

header h1 {
    font-size: 100px;
}


i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}