body {
    font-family: 'arial', sans-serif;
    background-color: rgb(160, 90, 240);
    color: rgb(0, 0, 0);
}

header {
    padding: 40px;
    background-color: #8d4901;
    color: #48f71c;
    text-align: center;
    margin: 4.5em;
}

header h1 {
    font-size: 100px;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}