body {
    font-family: 'arial', sans-serif;
    background-color: rgb(160, 90, 240);
    color: rgb(0, 0, 0);
}

header {
    padding: 200px;
    background-color: #78167d;
    color: #851556;
    text-align: center;
}

header h1 {
    font-size: 100px;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}