body {
    font-family: 'arial', sans-serif;
    background-color: khaki;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    height: 70px;
    background-color: #946d1a;
    justify-content: space-between;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: #efb73e;
}
