body {
    font-family: 'arial', sans-serif;
    background-color: khaki;
    color: rgb(0, 0, 0);
}

header {
    padding: 130px;
    background-color: #9e7111;
    color: #efb73e;
    text-align: center;
    margin: 4em;
}


header h1 {
    font-size: 100px;

}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}