body {
    font-family: 'arial', sans-serif;
    background-color: khaki;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 100px;
    text-align: center;
    color: #efb73e;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}