body {
    font-family: 'arial', sans-serif;
    background-color: rgb(71, 119, 9);
    color: rgb(0, 0, 0);
}

header {
    padding: 130px;
    background-color: #433f04f2;
    color: #5ba705;
    text-align: center;
}

header h1 {
    font-size: 100px;
}

i {
   font-size: 20px; 
}

li {
   font-size: 20px;  
}